
.title-section {
  background-color:#000;
  background-position:left top;
  background-repeat:no-repeat;
  position:relative;
  text-align:center;
  text-shadow: 1px 1px 1px #000000;
  color:#fff;
  padding-top:15%;
  padding-bottom:425px;
  padding-right:30%;
  margin-bottom:30px;
}

/* 
 * For mobile view:
 */
@media (max-width: 480px) {
  .title-section {
    background-position:top;
    background-size: auto 150%;
    padding-top:20%;
    padding-bottom:425px;
    padding-right:0px;
  }
}

.dont-break-out {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}

h1 { text-align: center; color: #7c795d; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; margin: 0; }

h5 { font-family: Enriqueta; font-size: 16px; color: #080000 ; text-decoration: none; }

p { font-family: Enriqueta; font-size: 14px; color: #92864d; text-decoration: none; }

a,a:visited { font-family: Enriqueta; font-size: 14px; color: #92864d; text-decoration: none; }

a:hover { text-decoration: underline }

body {
    background-image: url("paper.gif");
    background-color: #cccccc;
} 

.table1, .table2, .dont-break-out, .table3{
  text-align: center;
  border-collapse:collapse;
  width:100%;
  margin:0;
  padding:0;
  background:#E8E8E8;
  animation: responsive 5s infinite ease-in-out;
}

.img-responsive{
    display: block;
    margin-left: auto;
    margin-right: auto;
}