{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}

{% block extra_css %}
<link href="{{ url_for('static', filename='css/about.css') }}" rel='stylesheet'>
{% endblock %}

{% block content %}
<p>
We are BitsPlease!!<br>
This team consisted of:<br>

<p>
  <table border="1" style="width:100%">
  <thead>
  <tr>
    <th>Name</th>
    <th>Photo</th>
    <th>Responsibilities</th>
    <th>Bio</th>
    <th># of commits</th>
    <th># of issues</th>
    <th># of unit tests</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Nicholas Pereira</td>
    <td><img src="{{ url_for('static', filename='img/Nicholas_Pereira.jpeg') }}" alt="Nicholas Pereira" style="width:150px;height:150px;"></td>
    <td>TEAM LEADERRRR!!</td>
    <td>Bio</td>
    <td># of commits</td>
    <td># of issues</td>
    <td># of unit tests</td>
  </tr>
  <tr>
    <td>Erick Cardenas</td>
    <td><img src="{{ url_for('static', filename='img/Erick_Cardenas.jpg') }}" alt="Erick Cardenas" style="width:150px;height:150px;"></td>
    <td>Models and the api to access those models</td>
    <td>Bio</td>
    <td># of commits</td>
    <td># of issues</td>
    <td># of unit tests</td>
  </tr>
  <tr>
    <td>Wei-Chieh Chen</td>
    <td>photo</td>
    <td>About page, the page you are staring right now</td>
    <td>Bio</td>
    <td># of commits</td>
    <td># of issues</td>
    <td># of unit tests</td>
  </tr>
  <tr>
    <td>Xiangyi Kong</td>
    <td><img src="{{ url_for('static', filename='img/Xiangyi_Kong.jpg') }}" alt="Xiangyi Kong" style="width:135px;height:180px;"></td>
    <td>Character page</td>
    <td>Bio</td>
    <td># of commits</td>
    <td># of issues</td>
    <td># of unit tests</td>
  </tr>
  <tr>
    <td>Xingrong Wu</td>
    <td>photo</td>
    <td>Splash page</td>
    <td>Bio</td>
    <td># of commits</td>
    <td># of issues</td>
    <td># of unit tests</td>
  </tr>
  </tbody>
</table>
</p>

<p>
Stats:<br>
Total no. of commits<br>
Total no. of issues<br>
Total no. of unit tests<br>
<a href="http://docs.marvel.apiary.io/#introduction/resources">Apiary API</a><br>
<a href="https://github.com/PresidentNick/marvel/issues">GitHub Issue Tracker</a><br>
<a href="https://github.com/PresidentNick/marvel">GitHub Repo</a><br>
<a href="https://github.com/PresidentNick/marvel/wiki">GitHub Wiki</a><br>
</p>

<p>
Data source:<br>
<a href="http://developer.marvel.com/">Marvel Developer Portal</a><br>
Description of how each was scraped<br>
</p>
{% endblock %}