{% extends "base.html" %}

{% block title %}Marvel Characters{% endblock %}

{% block content %}   
<link href="{{ url_for('static', filename='css/table.css')}}" rel="stylesheet" type="text/css"/> 
    <p>Marvel Characters</p>
	<!-- Table -->
    <div class="box-table">
        <table class="sortable">
            <thead>
                <tr>
                	<th class="sorttable_nosort">PHOTO</th>
                    <th>NAME</th>
                   
                </tr>
            </thead>
            <tbody>
                {% for character in character_list %}
                    <tr class="clickablerow">
                        <td class="user-photo"><img class="user-tumb" style="width:65px;height:45px;overflow:hidden" src={{character.thumbnail.path}}/standard_small.{{character.thumbnail.extension}} alt=""></td>
                        <td><a href="/characters/{{ character.id }}">{{ character.name }}</a></td>                     
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- JS -->
    <script src="{{ url_for('static', filename='javascripts/sortable.js')}}" type="text/javascript"></script>
    <script type="text/javascript">
        $(".clickablerow").click(function() {
          window.location.href = $(this).find("a").attr("href");
        });
    </script>
{% endblock %}