{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" type="text/css"/>

        <h1> {{ character.data.results.0.name }} </h1>

        <div class="row">
            <div class="col1">
                <img class="img-responsive" style="width:250px;height:250px;overflow:hidden" src={{character.data.results.0.thumbnail.path}}/standard_fantastic.{{character.data.results.0.thumbnail.extension}} alt="">
            </div>

            <div class="col2">
                <p></p>
                <p>Number of stories available: {{ character.data.results.0.stories.available}}</p>
                <p>Number of events available: {{ character.data.results.0.events.available }}</p>
                <p>Number of series available: {{ character.data.results.0.series.available }}</p>
                <p>Number of comics available: {{ character.data.results.0.comics.available}}</p>

                <p>Character Appears in these comics:</p>
                <ul>
                    {% for comic in comic_name_list %} 
                    <li>
                        <a href="/comics/{{comic.data.results.0.id}}">{{comic.data.results.0.title}}</a>  
                    </li>                
                    {% endfor %}
                </ul>

                <p>External websites:</p>
                <ul>
                    {% for url in url_list %} 
                    <li>
                        <a href="{{url.url}}" class="link" target="_blank">{{url.url}}</a>
                    </li>                
                {% endfor %}
                </ul>
           <!-- 
         
                <p>Experimental Line Series: {{ character.data.results.0.series}} </p>
                <p>Experimental Line Events: {{ character.data.results.0.events}} </p>
                <p>Experimental Line Stories: {{ character.data.results.0.stories}} </p>  -->


                <p>{% if character.data.results.0.description == "" %}This character does not have a description {% else %}{{character.data.results.0.description}} {% endif %}</p>
            </div>

        </div>
{% endblock %}

