<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel='stylesheet'>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/cover.css') }}" rel='stylesheet'>
  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Marvel</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="/characters">Characters</a></li>
                  <li><a href="#">Comic</a></li>
                  <li><a href="#">Creators</a></li>
                  <li><a href="#">Events</a></li>
                  <li><a href="#">Series</a></li>
                  <li><a href="#">Story</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <!-- <div class="inner cover">
            <h1 class="cover-heading">THIS IS THE HEADING!!</h1>
            <p class="lead">NEED TO PUT SOME TEXT HERE!!</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">BUTTON HERE</a>
            </p>
          </div> -->

          <div class="mastfoot">
            <div class="inner">
              <p>Designed and maintained by #bitsplease</p>
            </div>
          </div>

        </div>

      </div>

    </div>
  </body>
</html>
