<head>
  <title>{% block title %}{{title}}{% endblock %}</title>
</head>

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel='stylesheet'>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/cover.css') }}" rel='stylesheet'>
  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Marvel</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="/characters">Characters</a></li>
                  <li><a href="/comics">Comics</a></li>
                  <li><a href="/creators">Creators</a></li>
                  <li><a href="/events">Events</a></li>
                  <li><a href="/series">Series</a></li>
                  <li><a href="/story">Story</a></li>
                  <li><a href="/about">About</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Designed and maintained by @bitsplease</p>
            </div>
          </div>

        </div>

      </div>

    </div>
  </body>
</html>
